doctype html
html(lang="ko")
    head
        title #{pageTitle} | Wetube
        link(rel="stylesheet" href="https://unpkg.com/mvp.css@1.12/mvp.css")
    body
        header
            nav 
                ul
                    li  
                        a(href="/Login")    Logout
                    li  
                        a(href="/Login")    Login 

            h1=pageTitle
        main
            block content
    include partial/footer.pug