header
  a.header__logo(href="/")
    i.fab.fa-youtube
  nav
    ul
      li
        a(href="/search")
          i.fas.fa-search
      if loggedIn
        li
          a(href="/videos/upload") Upload Video
        li
          a(href="/user/edit") Edit Profile
        li
          a(href="/user/logout") Log Out
        li
          a(href=`/user/${loggedInUser._id}`)
            if loggedInUser.avatarURL === ""
              span 😀
            else
              if loggedInUser.avatarURL
                if loggedInUser.avatarURL.includes("github")
                  img.header__avatar(src=loggedInUser.avatarURL)
                else
                  img.header__avatar(src=loggedInUser.avatarURL)
      else
        li
          a(href="/login") Login
        li
          a.header__btn(href="/join") Join
